<h1 style="text-align:center">Anonymous Post Club</h1>
<h2 style="text-align:center">Sign-in to create posts and view post authors!</h2>
<div style="border:2px solid black; border-radius:10px">
  <% @posts.each do |post| %>
    <div style="display:flex; flex-direction:column; align-items:center; justify-content:center">
      <%= link_to post.title, "#{posts_path}/#{post.id}" %>
      <br>
    </div>
  <% end %>
</div>
<br><br><br>
<div style="text-align:center">
  <%= button_to "Create a new post.", posts_new_path %>
</div>
