<h1 style="text-align:center">
  <%= @post.title %>
</h1>

<div style="display:flex; flex-direction:column; justify-content:center; align-items:center">
  <div style="width:80%">
    <%= @post.body %>
  </div>
  <% if user_signed_in? %>
    <p>Author: <%=@user.user_name %></p>
  <% end %>
</div>
